<div class="table-responsive commits-table">
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-3">Commiter</th>
        <th class="col-md-6">Message</th>
        <th class="col-md-2">Date</th>
      </tr>
    </thead>
    <tbody>
    <% @commits.each_with_index do|commit, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= commit[:committer] %></td>
        <td><%= commit[:message] %></td>
        <td><%= commit[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
